body {
	background-color: #1D345C;
	color: #C3D7EB;
}

#container {
	display: block;
	width: 75rem;
	margin: 0 auto;
	padding: 10px;
}

#header {
	background-color: #CC323A;
	padding: 20px;
	border-radius: 10px
}

#header h1 {
	margin: 0;
}

#sidebar {
	display: inline-block;
	background-color: #2E7D8B;
	border-radius: 20px;
	padding: 1rem;
	margin-top: 1rem;
	vertical-align: top;
	
}

#sidebar ul {
	margin: 0;
	padding-left: 20px;
}

#sidebar a, span.title, #footer a {
	color: #57C5DA;
	text-decoration: underline;
}

#content {
	display: inline-block;
	background-color: #0E1821;
	border-radius: 20px;
	padding: 1.5rem;
	width: 57.8rem;
	margin: 1rem 0 0 1rem;
}

#content ul {
	padding-left: 1rem;
}

#content ul li {
	padding: 0.3rem 0;
}

span.code {
	color: #6577F6;
}

#footer {
	background-color: #535B68;
	padding: 1.25rem;
	border-radius: 20px;
	margin-top: 1rem;
}

#footer p {
	margin: 0;
}